In [1]:
from transformers import AutoTokenizer, AutoModelForTableQuestionAnswering

In [2]:
import pandas as pd
import torch
from pathlib import Path
import csv

In [3]:
pd.__version__

'1.0.5'

In [4]:
tokenizer = AutoTokenizer.from_pretrained("google/tapas-large-finetuned-wtq", drop_rows_to_fit=True)
model = AutoModelForTableQuestionAnswering.from_pretrained("google/tapas-large-finetuned-wtq")

In [5]:
from tapas.protos import interaction_pb2
from google.protobuf.json_format import MessageToDict

In [6]:
import tensorflow as tf

In [7]:
def _to_df(dic):
    columns = [f"{v}-{k}" for d in dic['columns'] for k,v in d.items()]
    rows = [{columns[i]: ' '.join(list(d.values())) for i, d in enumerate(row['cells'])} for row in dic['rows']]
    df = pd.DataFrame(rows, columns=columns)
    return df

In [8]:
from tapas.utils import text_utils
import math
id2aggregation = {0: "NONE", 1: "SUM", 2: "AVERAGE", 3:"COUNT"}
def _collect_cells_from_table(cell_coos, table):
    cell_values = []
    for cell in cell_coos:
        value = str(table.iloc[cell[0],cell[1]])
        cell_values.append(value)
    return cell_values
def _safe_convert_to_float(value):
    float_value = text_utils.convert_to_float(value)
    if math.isnan(float_value):
        raise ValueError('Value is NaN %s' % value)
    return float_value

def _parse_value(value):
  """Parses a cell value to a number or lowercased string."""
  try:
    return _safe_convert_to_float(value)
  except ValueError:
    try:
      return value.lower()
    except ValueError:
      return value

def execute(aggregation_type, cell_coos,
            table):
  """Executes predicted structure against a table to produce the denotation."""
  values = _collect_cells_from_table(cell_coos, table)
  values_parsed = [_parse_value(value) for value in values]
  values_parsed = tuple(values_parsed)
  if aggregation_type == "NONE":
    # In this case there is no aggregation
    return values_parsed, values
  else:  # Should perform aggregation.
    if not values and (aggregation_type == "AVERAGE" or
                       aggregation_type == "SUM"):
      # Summing or averaging an empty set results in an empty set.
      # NB: SQL returns null for sum over an empty set.
      return tuple(), values
    if aggregation_type == "COUNT":
      denotation = len(values)
    else:
      # In this case all values must be numbers (to be summed or averaged).
      try:
        values_num = [text_utils.convert_to_float(value) for value in values]
      except ValueError:
        return values_parsed, values
      if aggregation_type == "SUM":
        denotation = sum(values_num)
      elif aggregation_type == "AVERAGE":
        denotation = sum(values_num) / len(values_num)
      else:
        raise ValueError('Unknwon aggregation type: %s' % aggregation_type)
    return tuple([float(denotation)]), values

In [9]:
dics = {}
split = 'random-split-1-dev'
for value in tf.data.TFRecordDataset(f'results/wtq/interactions/{split}.tfrecord'):
    interaction = interaction_pb2.Interaction()
    interaction.ParseFromString(value.numpy())
    d = MessageToDict(interaction)
    d['table_id'] = d['table']['tableId']
    d['table'] = _to_df(d['table']).to_dict()
    dics[d['id'].rsplit('-',1)[0]] = d

2021-09-22 02:43:54.155397: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcuda.so.1
2021-09-22 02:43:54.159938: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1561] Found device 0 with properties:
pciBusID: 0000:82:00.0 name: Tesla V100-PCIE-32GB computeCapability: 7.0
coreClock: 1.38GHz coreCount: 80 deviceMemorySize: 31.72GiB deviceMemoryBandwidth: 836.37GiB/s
2021-09-22 02:43:54.161645: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1561] Found device 1 with properties:
pciBusID: 0000:05:00.0 name: Tesla P4 computeCapability: 6.1
coreClock: 1.1135GHz coreCount: 20 deviceMemorySize: 7.43GiB deviceMemoryBandwidth: 178.99GiB/s
2021-09-22 02:43:54.161777: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcudart.so.10.1
2021-09-22 02:43:54.161863: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcublas.so.10
2021-09-22 02:43:54.161921: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcufft.so.10
2021-09-22 02:43:54.161977: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcurand.so.10
2021-09-22 02:43:54.162036: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcusolver.so.10
2021-09-22 02:43:54.162091: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcusparse.so.10
2021-09-22 02:43:54.170784: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcudnn.so.7
2021-09-22 02:43:54.181029: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1703] Adding visible gpu devices: 0, 1
2021-09-22 02:43:54.182784: I tensorflow/core/platform/cpu_feature_guard.cc:143] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2021-09-22 02:43:54.205753: I tensorflow/core/platform/profile_utils/cpu_utils.cc:102] CPU Frequency: 2099980000 Hz
2021-09-22 02:43:54.209270: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x559513049940 initialized for platform Host (this does not guarantee that XLA will be used). Devices:
2021-09-22 02:43:54.209310: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): Host, Default Version
2021-09-22 02:43:54.468870: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1561] Found device 0 with properties:
pciBusID: 0000:82:00.0 name: Tesla V100-PCIE-32GB computeCapability: 7.0
coreClock: 1.38GHz coreCount: 80 deviceMemorySize: 31.72GiB deviceMemoryBandwidth: 836.37GiB/s
2021-09-22 02:43:54.470504: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1561] Found device 1 with properties:
pciBusID: 0000:05:00.0 name: Tesla P4 computeCapability: 6.1
coreClock: 1.1135GHz coreCount: 20 deviceMemorySize: 7.43GiB deviceMemoryBandwidth: 178.99GiB/s
2021-09-22 02:43:54.470571: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcudart.so.10.1
2021-09-22 02:43:54.470602: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcublas.so.10
2021-09-22 02:43:54.470627: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcufft.so.10
2021-09-22 02:43:54.470652: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcurand.so.10
2021-09-22 02:43:54.470682: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcusolver.so.10
2021-09-22 02:43:54.470709: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcusparse.so.10
2021-09-22 02:43:54.470764: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcudnn.so.7
2021-09-22 02:43:54.481572: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1703] Adding visible gpu devices: 0, 1
2021-09-22 02:44:55.297039: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1102] Device interconnect StreamExecutor with strength 1 edge matrix:
2021-09-22 02:44:55.297099: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1108]      0 1
2021-09-22 02:44:55.297109: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1121] 0:   N N
2021-09-22 02:44:55.297115: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1121] 1:   N N
2021-09-22 02:44:55.303829: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1247] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 29523 MB memory) -> physical GPU (device: 0, name: Tesla V100-PCIE-32GB, pci bus id: 0000:82:00.0, compute capability: 7.0)
2021-09-22 02:44:55.307709: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1247] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:1 with 6627 MB memory) -> physical GPU (device: 1, name: Tesla P4, pci bus id: 0000:05:00.0, compute capability: 6.1)
2021-09-22 02:44:55.315451: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x559608bb5920 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2021-09-22 02:44:55.315490: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): Tesla V100-PCIE-32GB, Compute Capability 7.0
2021-09-22 02:44:55.315506: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (1): Tesla P4, Compute Capability 6.1

In [68]:
d = dics['nt-250']

In [93]:
l = list(map(lambda x:f"n{x}","t-1623\
nt-1624\
".split('n')))

In [92]:
for k in l:
    d = dics[k]
    table = pd.DataFrame.from_dict(d['table'])
    question = d['questions'][0]['originalText']
    encoding = tokenizer(table=table,
                                  queries=question,
                                  #truncation=True,
                                  padding="max_length",
                                  return_tensors="pt"
        )
    outputs = model(**encoding)
    coor, aggs = tokenizer.convert_logits_to_predictions(
    {k:v.to('cpu') for k,v in encoding.items()},
    outputs.logits.cpu().detach(),
    outputs.logits_aggregation.cpu().detach()
)
    print(execute(id2aggregation[aggs[0]],coor[0],table))

(('der liebeswalzer',), ['der liebeswalzer'])
(('guard',), ['guard'])
(('taylor jensen',), ['taylor jensen'])
((9.0,), ['3', '6', '7', '8', '9', '10', '11', '12', '16'])
((17.0,), ['farah', 'ghazni', 'helmand', 'herat', 'kabul', 'kandahar', 'khost', 'kunar', 'laghman', 'lowgar', 'nangarhar', 'nurestan', 'oruzgan', 'paktia', 'paktika', 'wardak', 'zabul'])
((4.0,), ['2', '4', '6', '15'])
((), [])
((12.0,), ['8', '47', '32', '4', '4', '9', '20', '15', '20', '16', '8', '41'])
((2.0,), ['federal republic of germany ortrud feickert karin fitzner ruth kasten', 'germany munkhbayar dorjsuren stefanie thurmann claudia verdicchio'])
((6.0,), ['huang qiuyan', 'anastasiya juravleva', 'zhang hao', 'wacharee ritthiwat', 'wang kuo-huei', 'fumiyo yoshida'])
((2.0,), ['james i 1231-1276', 'alfonso i 1286-1291'])
(('great britain',), ['great britain'])
(('87 850', '4 824'), ['87 850', '4 824'])
(('chinese hero',), ['chinese hero'])
((2.0,), ['1', '3'])
(('kolmonen',), ['kolmonen'])
((7.0,), ['the sea around us', 'the animal world', 'the story of mankind', 'the big circus', 'the lost world', 'voyage to the bottom of the sea', 'five weeks in a balloon'])
(('gary anderson',), ['gary anderson'])
((1893.0,), ['1893'])
(('andy jenkins',), ['andy jenkins'])
((12.0,), ['video', 'video', 'video', 'video', 'video', 'video', 'video', 'video', 'video', 'video', 'video', 'video'])
(('26 february 1866', 'november 1879'), ['26 february 1866', 'november 1879'])
((1.0,), ['timmy hung, ken wong, stephanie che, louis yuen, cutie mui'])
((1991.0,), ['1991'])
((nan,), ['nan'])
((1971.0,), ['1971'])
((1.0,), ['34'])
(('a',), ['a'])
(('do you speak afrikaans?',), ['do you speak afrikaans?'])
((5.0,), ['1989 - 1991', 'march 28, 1991 - january 20, 1993', 'january 1993 - december 12, 1995', 'february 29, 1996 - january 4, 2001', 'december 7, 2001 - january 19, 2009'])
(('ecuador', 'chile', 'venezuela'), ['ecuador', 'chile', 'venezuela'])
(('ivo ivanov',), ['ivo ivanov'])
((34.0,), ['1950', '1954', '1958', '1962', '1966', '1970', '1974', '1978', '1979', '1981', '1983', '1985', '1987', '1989', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1999', '2001', '2002', '2003', '2005', '2006', '2007', '2009', '2010', '2011', '2013', '2014', '2015'])
(('san juan de lurigancho',), ['san juan de lurigancho'])
((3.0,), ['valeska menezes', 'fabiana claudino', 'welissa gonzaga'])
((7.0,), ['1899', '1900', '1905', '1912', '1915', '1919', '1934'])
(('eric cantona',), ['eric cantona'])
(('christijan albers',), ['christijan albers'])
((2.0,), ['492,814', '494,935'])
(('austria',), ['austria'])
(('danie visser',), ['danie visser'])
((8.0,), ['total population before flight & expulsion', 'violent deaths', 'in internment camps', 'during the wartime flight', 'in the course of the expulsions', 'cause undetermined', 'total confirmed deaths', 'total unsolved cases'])
((7.0,), ['rawatsar, baramsar, purabsar dandusar, gandaisi', 'bhukarka, sanduri, manoharpur, kooi, bae', 'jaitpur, kumanu, mahajan, peepasar, udasar', 'bhadra, ajitpura, sidhmukh, rajgarh, dadrewa, sankhoo', 'khejra, phoglo, buchawas, sui, badnu, sirsila', 'shekhsar, pundrasar, gusainsar (bada), gharsisar, garibdesar, rungaysar, kalu', 'nan'])
((105349.0,), ['105,349'])
(('jenson button',), ['jenson button'])
((60.5,), ['51', '57', '39', '78', '61', '77'])
((6.0,), ['the park in the dark', "have you seen who's just moved in next door to us?", 'think of an eel', 'so much', 'the little boat', "alice's adventures in wonderland"])
((3.0,), ['chinese taipei south korea japan', 'north korea', 'japan jordan vietnam'])
((14.5,), ['18', '16', '13', '11'])
(('2001-2002',), ['2001-2002'])
(('nikia hillarie',), ['nikia hillarie'])
(('screwed up', "nuthin' 2 a boss", 'smile', 'give my last breathe intro', 'give my last breathe', "gittin' high", 'ghetto queen', 'million bucks', "i'm good", 'the truth'), ['screwed up', "nuthin' 2 a boss", 'smile', 'give my last breathe intro', 'give my last breathe', "gittin' high", 'ghetto queen', 'million bucks', "i'm good", 'the truth'])
((0.0,), [])
((8.0,), ['(lady) cardinals', '(lady) golden eagles', '(lady) dragons', '(lady) hornets', 'fighting irish', '(lady) spoofhounds', '(lady) savages', '(lady) warriors'])
(('james stephens',), ['james stephens'])
(('mr. lee',), ['mr. lee'])
((2.0,), ['shadja', 'shuddha rishabha'])
((1.0,), ['20'])
(('chewy',), ['chewy'])
(('dublin',), ['dublin'])
((8.0,), ['1893', '1894', '1894', '1896', '1897', '1897', '1898', '1898'])
(('denmark',), ['denmark'])
((6278.5,), ['310', '252', '153', '372', '214', '136', '288', '215', '74', '198', '260', '150', '46', '87', '23', '47', '75', '34', '34', '52', '82', '66', '119', '38', '65', '133', '71', '227', '20', '35', '47', '161', '77', '14', '100', '68', '180', '85', '86', '93', '204', '48', '140', '105', '53', '69', '90', '65', '120', '122', '106', '181', '8.5', '56', '124'])
((9.0,), ['ehc regensburg', 'bts bayreuth', 'ec bayreuth', 'ehc ingolstadt ii', 'ver selb', 'ec bad kissingen', 'ehc bayreuth', 'ec amberg', 'erc ingolstadt'])
((4.0,), ['4-8', '5-2', '1-7', '1-5'])
(('cpu',), ['cpu'])
((3.0,), ['woodbridge, va, u.s', 'pljevlja, serbia, serbia', 'bryan, tx, u.s'])
((5.0,), ['1', '8', '12', 'replay', '14'])
(('fresno state',), ['fresno state'])
(('erwin voellmy',), ['erwin voellmy'])
((8.0,), ['september 12', 'september 26', 'october 3', 'october 10', 'october 31', 'november 7', 'november 14', 'november 21'])
(('100m sprint',), ['100m sprint'])
((13.0,), ['qld', 'nt', 'sa', 'wa', 'nsw', 'nsw', 'vic', 'nsw', 'qld', 'nsw', 'vic', 'nsw', 'sa'])
(('chevrolet',), ['chevrolet'])
((2.0,), ['2011', '2005'])
((5.0,), ['13', '14', '15', '16', '17'])
((7.0,), ['197', '65', '120', '76', '47', '14', '4'])
((148.0,), ['nikolay abramov', 'dmitri alenichev', 'valeri andreyev', 'vladimir beschastnykh', 'mikhail bulgakov', 'fyodor cherenkov', 'nikolay dementyev', 'yuri falin', 'yuri gavrilov', 'edgar gess', 'valeri gladilin', 'georgi glazkov', 'anatoli ilyin', 'anatoli isayev', 'andrei ivanov', 'maksym kalynychenko', 'valery karpin', 'valery kechinov', 'vagiz khidiyatullin', 'nikolai kiselyov', 'aleksandr kokorev', 'ivan konov', 'viktor konovalov', 'alexey korneyev', 'pavel kornilov', 'radoslav kovac', 'yuri kovtun', 'wojciech kowalewski', 'anatoly krutikov', 'dmitri kudryashov', 'vasili kulkov', 'boris kuznetsov', 'yevgeni kuznetsov', 'igor lediakhov', 'aleksei leontyev', 'boris lobutev', 'gennady logofet', 'evgeny lovchev', 'konstantin malinin', 'ramiz mamedov', 'valeri masalitin', 'vladimir maslachenko', 'anatoli maslyonkin', 'aleksei melyoshin', 'aleksandr minayev', 'alexander mirzoyan', 'vitali mirzoyev', 'viktor mishin', 'igor mitreski', 'gennady morozov', 'aleksandr mostovoi', 'mozart', 'ivan mozer', 'mukhsin mukhamadiev', 'igor netto', 'yuriy nikiforov', 'vladimir nikonov', 'sergei novikov', 'mikhail ogonkov', 'sergei olshansky', 'viktor onopko', 'nikolai osyanin', 'viktor papayev', 'aleksei paramonov', 'dmytro parfenov', 'nikolai parshin', 'viktor pasulko', 'aleksandr pavlenko', 'vadim pavlenko', 'roman pavlyuchenko', 'hennadiy perepadenko', 'boris petrov', 'vladimir petrov', 'andrei piatnitski', 'nikolai pisarev', 'aleksandr piskaryov', 'mihajlo pjanovic', 'stipe pletikosa', 'dmitri popov', 'boris pozdnyakov', 'vladimir pribylov', 'aleksandr prokhorov', 'andrei protasov', 'dmitri radchenko', 'vladimir redin', 'valeri reyngold', 'luis robson', 'sergey rodionov', 'clemente rodriguez', 'oleg romantsev', 'miroslav romaschenko', 'sergei rozhkov', 'andrei rudakov', 'leonid rumyantsev', 'mikhail rusyayev', 'konstantin ryazantsev', 'aleksandr rystsov', 'sergei salnikov', 'aleksandr samedov', 'viktor samokhin', 'yuri sedov', 'anatoli seglin', 'viktor semyonov', 'yuri sevidov', 'igor shalimov', 'sergey shavlo', 'aleksandr shirko', 'roman shishkin', 'valeri shmarov', 'sergei shvetsov', 'yevgeni sidorov', 'dzhemal silagadze', 'nikita simonyan', 'boris smyslov', 'florin soava', 'vladimir sochnov', 'aleksei sokolov', 'vasili sokolov', 'viktor sokolov', 'anatoli soldatov', 'aleksandr sorokin', 'andrei starostin', 'vladimir stepanov', 'andrejs stolcers', 'martin stranzl', 'yuri susloparov', 'yuri syomin', 'dmitri sychev', 'boris tatushin', 'viktor terentyev', 'andrey tikhonov', 'oleg timakov', 'nikolai tishchenko', 'yegor titov', 'eduard tsykhmeystruk', 'ilya tsymbalar', 'grigori tuchkov', 'vladas tuckus', 'ivan varlamov', 'welliton', 'vladimir yanishevskiy', 'vladimir yankin', 'georgi yartsev', 'valentin yemyshev', 'aleksei yeryomenko', 'viktor yevlentyev', 'sergei yuran', 'valeri zenkov'])
((1999.0,), ['1999'])
(('new flyer',), ['new flyer'])
((8.0,), ['manuel robles', 'bruno victoria', 'el nazi', 'franco colombo', 'americo rocca', 'leo lopez', 'mocho cota', 'mocho cota'])
(('wan idris ibrahim',), ['wan idris ibrahim'])
(('united states',), ['united states'])
((12.0,), ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'])
((1898.0,), ['1898'])
(('ए /',), ['ए /'])
((120.0,), ['austria', 'brazil', 'brazil', 'brazil', 'brazil', 'brazil', 'brazil', 'canada', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'czechoslovakia', 'czechoslovakia', 'czechoslovakia', 'czechoslovakia', 'czechoslovakia', 'denmark', 'east germany', 'egypt', 'egypt', 'egypt', 'egypt', 'egypt', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'france', 'west germany', 'west germany', 'west germany', 'hungary', 'italy', 'italy', 'italy', 'jordan', 'poland', 'poland', 'poland', 'poland', 'romania', 'yugoslavia', 'south africa', 'switzerland', 'switzerland', 'switzerland', 'united kingdom', 'united kingdom', 'united states', 'united states', 'united states', 'united states', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union', 'soviet union'])
(('james muirson',), ['james muirson'])
((1989.0,), ['1989'])
(('norwich city',), ['norwich city'])
(('preferente',), ['preferente'])
((4.0,), ['s', 'r1', 'd1', 'n1'])
(('gt 1.3',), ['gt 1.3'])
((2001.0,), ['2001'])
(('gitara',), ['gitara'])
((38.0,), ['1', '1', '2', '2', '3', '3', '4', '4', '5', '5', '6', '6', '7', '7', '8', '8', '9', '9', '10', '10', '11', '11', '12', '12', '13', '13', '14', '14', '15', '15', '16', '16', '17', '17', '18', '18', '19', '19'])
((6.0,), ['columbia/jefferson city', 'hannibal', 'joplin', 'kansas city', 'st. louis', 'springfield'])
((1023.0,), ['56', '56', '56', '56', '56', '56', '56', '56', '56', '56', '56', '56', '56', '55', '55', '54', '50', '43', '20', '18'])
(('other',), ['other'])
((2005.0,), ['2005'])
((4.0,), ['w 38-7', 'l 28-29', 'w 35-7', 'w 46-0'])
((4.0,), ['canal 5', 'tv mas', 'azteca 7', 'azteca 13'])
(('qb',), ['qb'])
((15.0,), ['1997', '2001', '2001', '2001', '2001', '2002', '2002', '2003', '2003', '2003', '2003', '2005', '2006', '2006', '2007'])
((45.0,), ['34', '11'])
(('sven nys',), ['sven nys'])
(('2007 / 2009',), ['2007 / 2009'])
(('29 february 2012',), ['29 february 2012'])
((16.0,), ['0', '2', '2', '4', '8'])
((126121.0,), ['7,660', '7,659', '4,874', '12,793', '19,252', '12,201', '8,291', '24,279', '13,456', '8,559', '7,097'])
((2.0,), ['6,806.5', '59,169.4'])
(('khandyga (хандыга)',), ['khandyga (хандыга)'])
((2.0,), ['it is a synthetic absorbable suture material. monofilament synthetic absorbable suture, prepared from the polyester, poly (p-dioxanone)', 'monofilament'])
(('lyubomir popov', 'lyubomir popov', 'borislav dimitrachkov', 'petar popangelov'), ['lyubomir popov', 'lyubomir popov', 'borislav dimitrachkov', 'petar popangelov'])
((1949.0,), ['1949'])
(('john salako', 'frank talia'), ['john salako', 'frank talia'])
(('chinese taipei',), ['chinese taipei'])
((6.0,), ['1', '2', '3', '4', 'nan', 'nan'])
((12.0,), ['super chinese', 'super chinese 2', 'super chinese 3', 'super chinese land', 'super chinese land 2', 'super chinese land 3', 'super chinese world', 'super chinese world 2', 'super chinese world 3', 'super chinese fighter', 'super chinese fighter gb', 'super chinese fighter ex'])
((160.0,), ['160'])
((1955.0,), ['1955'])
((2.0,), ['321,000', '820,000'])
((10.0,), ['qui pluribus', 'praedecessores nostros', 'ubi primum', 'ubi primum', 'nostis et nobiscum', 'exultavit cor nostrum', 'nemo certe ignorat', 'probe noscitis venerabiles', 'inter multiplices', 'neminem vestrum'])
(('sc internacional de sao paulo',), ['sc internacional de sao paulo'])
((), [])
(('jewish',), ['jewish'])
((22.0,), ['marti ten kate', 'thomas naali', 'boay akonay', 'gary staines', 'gary staines', 'gary staines', 'christopher kelong', 'stephane franke', 'simon kasimili', 'gert thys', 'khalid skah', 'simon kasimili', 'john yuda', 'hendrick ramaala', 'john yuda', 'simon arusei', 'luke kibet', 'bernard kipyego', 'mo farah', 'leonard komon', 'stephen mokoka', 'emmanuel bett'])
(('学校へ行かせたい',), ['学校へ行かせたい'])
((1.0,), ['l 13-17'])
((11.0,), ['w 39-12', 'w 7-6', 'w 32-29', 'w 40-14', 'w 20-10', 'w 32-7', 'w 45-14', 'w 49-14', 'w 42-14', 'w 27-21', 'w 28-26'])
(('american mcgee presents akaneiro',), ['american mcgee presents akaneiro'])
(('august 12',), ['august 12'])
((6.0,), ['w 39-12', 'w 32-29', 'w 40-14', 'w 32-7', 'w 45-14', 'w 49-14'])
((1997.0,), ['1997'])
(('euro 2012 qualifying',), ['euro 2012 qualifying'])
((4.0,), ['47:52', '47:11', '47:04', '45:56'])
((2.0,), ["cortina d'ampezzo, italy", 'garmisch, germany'])
((1.0,), ['2'])
(('magallanes',), ['magallanes'])
(('moti giladi and sarai tzuriel',), ['moti giladi and sarai tzuriel'])
((0.0,), [])
(('jas mangat',), ['jas mangat'])
(('at detroit waza',), ['at detroit waza'])
((6.0,), ['2', '4', '7', '10', '11', '13'])
((7.0,), ['78', '77', '75', '63', '77', '65', '61'])
((100.0,), ['alamance county', 'alexander county', 'alleghany county', 'anson county', 'ashe county', 'avery county', 'beaufort county', 'bertie county', 'bladen county', 'brunswick county', 'buncombe county', 'burke county', 'cabarrus county', 'caldwell county', 'camden county', 'carteret county', 'caswell county', 'catawba county', 'chatham county', 'cherokee county', 'chowan county', 'clay county', 'cleveland county', 'columbus county', 'craven county', 'cumberland county', 'currituck county', 'dare county', 'davidson county', 'davie county', 'duplin county', 'durham county', 'edgecombe county', 'forsyth county', 'franklin county', 'gaston county', 'gates county', 'graham county', 'granville county', 'greene county', 'guilford county', 'halifax county', 'harnett county', 'haywood county', 'henderson county', 'hertford county', 'hoke county', 'hyde county', 'iredell county', 'jackson county', 'johnston county', 'jones county', 'lee county', 'lenoir county', 'lincoln county', 'mcdowell county', 'macon county', 'madison county', 'martin county', 'mecklenburg county', 'mitchell county', 'montgomery county', 'moore county', 'nash county', 'new hanover county', 'northampton county', 'onslow county', 'orange county', 'pamlico county', 'pasquotank county', 'pender county', 'perquimans county', 'person county', 'pitt county', 'polk county', 'randolph county', 'richmond county', 'robeson county', 'rockingham county', 'rowan county', 'rutherford county', 'sampson county', 'scotland county', 'stanly county', 'stokes county', 'surry county', 'swain county', 'transylvania county', 'tyrrell county', 'union county', 'vance county', 'wake county', 'warren county', 'washington county', 'watauga county', 'wayne county', 'wilkes county', 'wilson county', 'yadkin county', 'yancey county'])
(('jacinto sicam',), ['jacinto sicam'])
(('andy sinton',), ['andy sinton'])
(('cory schneider', 'alexander edler', 'andrew sarauer', 'mike brown', 'julien ellis', 'david schulz'), ['cory schneider', 'alexander edler', 'andrew sarauer', 'mike brown', 'julien ellis', 'david schulz'])
(('200 metres',), ['200 metres'])
((36.0,), ['jimmie johnson', 'kurt busch', 'dale earnhardt jr', 'david stremme', 'ryan newman', 'martin truex jr', 'scott riggs', 'kasey kahne', 'jeff green', 'matt kenseth', 'elliott sadler', 'david ragan', 'kyle petty', 'j.j. yeley', 'bobby labonte', 'denny hamlin', 'tony raines', 'jeremy mayfield', 'regan smith', 'reed sorenson', 'kenny wallace', 'boris said', 'greg biffle', 'johnny sauter', 'juan montoya', 'david reutimann', 'ricky rudd', 'jeff burton', 'clint bowyer', 'ward burton', 'kyle busch', 'joe nemechek', 'casey mears', 'dale jarrett', 'robby gordon', 'carl edwards'])
((1.0,), ['general william starke rosencrans'])
(('avital junction',), ['avital junction'])
((1.0,), ['elected july 9, 1888 and july 8, 1889'])
(('vanoise express',), ['vanoise express'])
(('sarah vinci', 'cobi crispin'), ['sarah vinci', 'cobi crispin'])
(('guy basquet',), ['guy basquet'])
(('lowca engineering',), ['lowca engineering'])
(('mf',), ['mf'])
((1.0,), ['0'])
((3.0,), ['canal 5', 'once tv', 'independent'])
(('june 20, 1968',), ['june 20, 1968'])
((4.0,), ['1500', '1395', '1300', '1286'])
((2002.0,), ['2002'])
((2.0,), ['marjorie annan', 'olga panarina'])
((4.0,), ['nelli cooman', 'galina malchugina', 'yekaterina podkopayeva', 'fernanda ribeiro'])
((12.0,), ['4', '40', '80', '100', '50', '25', '1000', '1500', '650', '5', '1000', '200'])
((2.0,), ['31360', '22980'])
((23.0,), ['david gilliland', 'kevin harvick', 'ryan newman', 'martin truex jr', 'scott riggs', 'kyle petty', 'j.j. yeley', 'bobby labonte', 'tony raines', 'jeremy mayfield', 'reed sorenson', 'johnny sauter', 'juan montoya', 'david reutimann', 'ricky rudd', 'clint bowyer', 'ward burton', 'kyle busch', 'joe nemechek', 'dale jarrett', 'robby gordon', 'carl edwards', 'paul menard'])
((3.0,), ['california institute of technology', 'california polytechnic state university', 'california state polytechnic university, pomona'])
((1.0,), ['+6'])
((26.0,), ['1902', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1922', '1923', '1924', '1926', '1927', '1928', '1929', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1963'])
((15.0,), ['epsilon canis majoris', 'beta canis majoris', 'canopus', 'zeta sagittarii', 'zeta leporis', 'canopus', 'aldebaran', 'capella', 'canopus', 'sirius', 'vega', 'delta scuti', 'gamma draconis', 'nr canis majoris', 'omicron herculis'])
((10.0,), ['september 9', 'september 16', 'september 23', 'september 30', 'october 7', 'october 14', 'october 21', 'october 28', 'november 11', 'november 18'])
(('lake geneva',), ['lake geneva'])
(('jonathan jenkins',), ['jonathan jenkins'])
((22.0,), ['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th', '11th', '12th', '13th', '14th', '15th', '16th', '19th', '20th', '21st', '22nd', '23rd', '24th'])
((), [])
(('4:47',), ['4:47'])
(('maqbool',), ['maqbool'])
((10.0,), ['leire olaberria dorronsoro', 'dulce pliego', 'jessie maclean', 'lisa brennauer', 'wan yiu jamie wong', 'lauren franges', 'skye lee armstrong', 'rosy mccall', 'fatehah mustapa', 'yekatsiryna barazna'])
(('w 39-12',), ['w 39-12'])
(("b'in music", "b'in music", "b'in music"), ["b'in music", "b'in music", "b'in music"])
((8.0,), ['brazilian grand prix', 'san marino grand prix', 'monaco grand prix', 'mexican grand prix', 'german grand prix', 'hungarian grand prix', 'portuguese grand prix', 'spanish grand prix'])

In [69]:
d['questions'][0]['answer']['answerTexts']

['1']

In [81]:
table = pd.DataFrame.from_dict(d['table'])
question = d['questions'][0]['originalText']
#question = "what is baranov's nationality?"
#question = "which ships were launched in the year 2003?"
#question = 'how many players are drafted before dale armstrong' 
print(question)
table.head()

what is the number of points scored on 6 february 1922?

,Tie no-text,Home team-text,Score-text,Away team-text,Date-text
0,1,liverpool,0-1,west bromwich albion,28 january 1922
1,2,preston north end,3-1,newcastle united,28 january 1922
2,3,southampton,1-1,cardiff city,28 january 1922
3,replay,cardiff city,2-0,southampton,1 february 1922
4,4,leicester city,2-0,fulham,28 january 1922

In [71]:
new_table = pd.DataFrame.from_dict(table.sample(frac=1).reset_index(drop=True).to_dict())
new_table.head()

,Tie no-text,Home team-text,Score-text,Away team-text,Date-text
0,1,liverpool,0-1,west bromwich albion,28 january 1922
1,7,bolton wanderers,1-3,manchester city,28 january 1922
2,10,barnsley,3-1,oldham athletic,28 january 1922
3,replay,huddersfield town,2-0,brighton & hove albion,1 february 1922
4,5,nottingham forest,3-0,hull city,28 january 1922

In [72]:
table

,Tie no-text,Home team-text,Score-text,Away team-text,Date-text
0,1,liverpool,0-1,west bromwich albion,28 january 1922
1,2,preston north end,3-1,newcastle united,28 january 1922
2,3,southampton,1-1,cardiff city,28 january 1922
3,replay,cardiff city,2-0,southampton,1 february 1922
4,4,leicester city,2-0,fulham,28 january 1922
5,5,nottingham forest,3-0,hull city,28 january 1922
6,6,aston villa,1-0,luton town,28 january 1922
7,7,bolton wanderers,1-3,manchester city,28 january 1922
8,8,swindon town,0-1,blackburn rovers,28 january 1922
9,9,tottenham hotspur,1-0,watford,28 january 1922
10,10,barnsley,3-1,oldham athletic,28 january 1922
11,11,northampton town,2-2,stoke,28 january 1922
12,replay,stoke,3-0,northampton town,1 february 1922
13,12,brighton & hove albion,0-0,huddersfield town,28 january 1922
14,replay,huddersfield town,2-0,brighton & hove albion,1 february 1922
15,13,bradford city,1-1,notts county,28 january 1922
16,replay,notts county,0-0,bradford city,1 february 1922
17,replay,notts county,1-0,bradford city,6 february 1922
18,14,crystal palace,0-0,millwall,28 january 1922
19,replay,millwall,2-0,crystal palace,1 february 1922
20,15,southend united,0-1,swansea town,28 january 1922
21,16,bradford park avenue,2-3,arsenal,28 january 1922

In [73]:
#short_t = table.drop([4]).reset_index(drop=True)
short_t = table[table.columns.difference(['Definition-text'])]

In [74]:
target_table = table
#short_t.sample(frac=1).reset_index(drop=True)

In [75]:
target_table.head()

,Tie no-text,Home team-text,Score-text,Away team-text,Date-text
0,1,liverpool,0-1,west bromwich albion,28 january 1922
1,2,preston north end,3-1,newcastle united,28 january 1922
2,3,southampton,1-1,cardiff city,28 january 1922
3,replay,cardiff city,2-0,southampton,1 february 1922
4,4,leicester city,2-0,fulham,28 january 1922

In [82]:
encoding = tokenizer(table=target_table,
                                  queries=question,
                                  #truncation=True,
                                  padding="max_length",
                                  return_tensors="pt"
        )
        # remove the batch dimension which the tokenizer adds by default
        #encoding = {key: val.squeeze(0) for key, val in encoding.items()}

In [83]:
outputs = model(**encoding)

In [84]:
coor, aggs = tokenizer.convert_logits_to_predictions(
    {k:v.to('cpu') for k,v in encoding.items()},
    outputs.logits.cpu().detach(),
    outputs.logits_aggregation.cpu().detach()
)

In [85]:
print(id2aggregation[aggs[0]],coor[0])

COUNT [(17, 0)]

In [86]:
execute(id2aggregation[aggs[0]],coor[0],target_table)

((1.0,), ['replay'])

In [23]:
from tqdm import tqdm

In [24]:
ans = {}
err = set()
device = torch.device("cpu" if torch.cuda.is_available() else "cpu")
for key,d in tqdm(dics.items()):
    table = pd.DataFrame.from_dict(d['table'])
    question = d['questions'][0]['originalText']
    encoding = tokenizer(table=table,
          queries=question,
          truncation=True,
          padding="max_length",
          return_tensors="pt"
        )
    encoding = {k:v.to(device) for k,v in encoding.items()}
    model.to(device)
    with torch.no_grad():
        try:
            output = model(**encoding)
#         except IndexError:
#             continue
#         except RuntimeError:
        except:
            continue
        coor, agg = tokenizer.convert_logits_to_predictions(
            {k:v.to('cpu') for k,v in encoding.items()},
            output.logits.cpu().detach(),
            output.logits_aggregation.cpu().detach()
        )
        try:
            denos, _ = execute(id2aggregation[aggs[0]],coor[0],table)
            ans[key] = denos
        except IndexError:
            err.add(key)

100%|███████████████████████████████████████████████████████████████████████████████| 2810/2810 [57:12<00:00,  1.22s/it]

In [25]:
len(err)

0

In [33]:
ans['nt-378']

(1.0,)

In [30]:
with open('dev-out-iis2.tsv','w',newline='') as f:
    writer = csv.writer(f, delimiter='\t', quotechar='"',quoting=csv.QUOTE_NONE,escapechar='\\')
    for k,deno in ans.items():
        deno = list(map(str,deno))
        row = [k]+[' '.join(deno)]
        writer.writerow(row)

In [32]:
for k, deno in list(ans.items())[:10]:
    deno = list(map(str,deno))
    row = [k]+[' '.join(deno)]
    print(row)

['nt-10001', '4.0']
['nt-10003', '1.0']
['nt-10021', '5.0']
['nt-10022', '2.0']
['nt-10024', '0.0']
['nt-10026', '1.0']
['nt-10030', '9.0']
['nt-10034', '1.0']
['nt-1004', '1.0']
['nt-10043', '1.0']

In [610]:
dics['nt-10001']

{'id': 'nt-10001-0',
 'table': {'Outcome-text': {0: 'runner-up',
   1: 'winner',
   2: 'winner',
   3: 'winner',
   4: 'runner-up',
   5: 'runner-up',
   6: 'winner',
   7: 'runner-up',
   8: 'winner'},
  'Year-text': {0: '2002',
   1: '2003',
   2: '2003',
   3: '2004',
   4: '2004',
   5: '2005',
   6: '2006',
   7: '2010',
   8: '2010'},
  'Championship-text': {0: 'canada',
   1: 'montreal',
   2: 'cincinnati',
   3: 'miami',
   4: 'toronto',
   5: 'cincinnati',
   6: 'cincinnati',
   7: 'indian wells',
   8: 'miami'},
  'Surface-text': {0: 'hard',
   1: 'hard',
   2: 'hard',
   3: 'hard',
   4: 'hard',
   5: 'hard',
   6: 'hard',
   7: 'hard',
   8: 'hard'},
  'Opponent-text': {0: 'guillermo canas',
   1: 'david nalbandian',
   2: 'mardy fish',
   3: 'guillermo coria',
   4: 'roger federer',
   5: 'roger federer',
   6: 'juan carlos ferrero',
   7: 'ivan ljubicic',
   8: 'tomas berdych'},
  'Score-text': {0: '4-6, 5-7',
   1: '6-1, 6-3',
   2: '4-6, 7-6(7-3), 7-6(7-4)',
   3: '6-7(2-7), 6-3, 6-1, ret',
   4: '5-7, 3-6',
   5: '3-6, 5-7',
   6: '6-3, 6-4',
   7: '6-7(3-7), 6-7(5-7)',
   8: '7-5, 6-4'}},
 'questions': [{'id': 'nt-10001-0_0',
   'text': '',
   'originalText': 'what is his highest number of consecutive wins?',
   'answer': {'answerTexts': ['3'], 'floatValue': 3.0}}],
 'table_id': 'table_csv/203-359.csv'}